<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/articles" class="navbar-wagon-brand">
    <img src="http://www.kakipleinair.com/wp-content/uploads/2015/03/iconmonstr-pen-15-icon-256.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="/articles" class="navbar-wagon-item navbar-wagon-link">All Articles</a>


    <!-- Button (call-to-action) -->
    <a href="articles/new" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
</div>
